<html>
    <head>
        <meta charset="utf-8">
    </head>
    <form action="/regin" method="get">
    <table border="100">
        <tr>
            <td> 学号: </td> 
            <td> <input type="text" name="学号"> </td>
        </tr>
        <tr>
            <td> 姓名: </td> 
            <td> <input type="text" name="姓名"> </td>
        </tr>
        <tr>
            <td> 密码: </td> 
            <td> <input type="password" name="密码"> </td>
        </tr>
    </table>
    <input type="submit" value="提交">
    </form>
</html>